# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# VSCode
.vscode/

# Docker
*.env
*.log

# MacOS
.DS_Store

# Локные файлы Terraform
.terraform/
*.tfvars
*.tfvars.json
.terraform.lock.hcl
terraform/terraform.tfvars
*.tfstate
*.tfstate.backup
terraform/*.json