# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# VSCode
.vscode/

# Docker
*.env
*.log

# MacOS
.DS_Store

terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.lock.hcl
